<apex:page showHeader="false" 
		   sidebar="false" 
		   standardStylesheets="false"
		   controller="angular_vfremote_Ctrlr">
	<html ng-app="angvfr">
	    
		<head>
			<!--	Mobile css and libraries.  
					Not needed for angular-seed.  
					Possibly useful for something more substantial. -->
			<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" 
				  rel="stylesheet" />
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
			<script src="//code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

			<!-- Angular library -->
			<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.js"></script>

			<!-- Local Static Resource css and javascript, all part of Angular-Seed app. -->
			<apex:stylesheet value="{!URLFOR($Resource.angular_vfremote, 'app/css/app.css')}"/>
			<script src="{!URLFOR($Resource.angular_vfremote, 'app/js/controllers.js')}"></script>
			<script src="{!URLFOR($Resource.angular_vfremote, 'app/js/directives.js')}"></script>
			<script src="{!URLFOR($Resource.angular_vfremote, 'app/js/filters.js')}"></script>
			<script src="{!URLFOR($Resource.angular_vfremote, 'app/js/services.js')}"></script>
			<script src="{!URLFOR($Resource.angular_vfremote, 'app/js/app.js')}"></script>

		<script>
			// Create angular factory that defines service to call apex.
			myModule.
				factory('doubleMe', ['$q', '$rootScope', function($q, $rootScope) {

					return function(inputString) {
						var deferred = $q.defer();

						Visualforce.remoting.Manager.invokeAction(
							'{!$RemoteAction.angular_vfremote_Ctrlr.valueDoubler}',
							inputString, 
							function(result, event) {
								$rootScope.$apply(function() {
								  if (event.status) {
								    deferred.resolve(result);
								  } else {
								    deferred.reject(event);
								  }
								})
							},
							{ buffer: true, escape: true, timeout: 30000 }
						);

						return deferred.promise;
					}

				}]);

			// Remember site prefix, if any, to support direct (logged-in) or Site-based usage.
			// Applies to Angular $routeProvider.
			var sitePrefix = '{!$Site.Prefix}';
			if (sitePrefix=='') sitePrefix='/apex';
		</script>

		</head>
		<body>
			<meta name="viewport" content="width=device-width, initial-scale=1"/> 
			<ul class="menu">
				<li><a href="#/view1">view1</a></li>
			    <li><a href="#/view2">view2</a></li>
			</ul>

		    <div class="container">
		        <div class="ng-view"></div>
		    </div>
		</body>
	</html>
</apex:page>